<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
</head>
<body>
    <div>
        <h1>Edit student Data</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            {% for fm in form %}
            <div>
                {{fm.label_tag}} <br> {{fm}} {{fm.errors|striptags}}
            </div>
            {% endfor %}
            <br>
            <input type="submit" value='Update'> 
            <button>
                <a href="/show/">Show</a>
            </button>
        </form>
        {% if messages %}
        {% for message in messages%}
        {{message}}
        {% endfor %}
        {% endif %}
        <hr>
    </div>
</body>
</html>